#search{
	background-color: #fff;
	width: 500px;
	padding-left: 13px;
	margin: auto;
}

button{
	margin-top: 25px;
	margin-left: 430px;

}

#thumbnail{
	border-radius: 50%;
	margin-left: 540px;
	margin-top: 30px;
	
}